/*
    DEMO STYLE
  background-color: #a7a7a7 !important;

*/

#yourBtn{
  background-color: #FFAE42; /* Green */
  border: 1px solid #1b7531;
  color: white;
  padding: 12px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#yourBtn:hover{
  background-color: #FFAE42	; /* Green */
  border: 1px solid black;
  color: black;
  padding: 12px 64px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
}
.page-link{
margin-right: 50px;

}
body{
  background-image: url("skeletons.png"); 
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 1050px;
  font-family: "Comic Sans MS";
}
.responsive{
  max-width: 100%;
  height: auto;

  background-repeat: no-repeat;
}
.card{
  background-color: #fff !important;
  opacity: 0.95;
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
}


.bg-primary {
  background-color: #58a637 !important;
}
/*.bg-primary {
  background-color: #fcde67 !important;
}*/
.bg-secondary {
  background-color: #5bccf6 !important;
}
.bg-yellow {
  background-color: #fcde67 !important;
}
.bg-white {
  background-color: #fff !important;
}
.bg-orange {
  background-color: #e66d3d !important;
}

.color-primary {
  color: #58a637 !important;
}
.color-secondary {
  color: #5bccf6 !important;
}
.color-yellow {
  color: #fcde67 !important;
}
.color-white {
  color: white !important;
}
.color-red {
  color: #bf5656 !important;
}
.color-success {
  color: #1b7531 !important;
}
.color-red-dark {
  color: #8f271e !important;
}
.color-grey { 
  color: grey !important;
}
.color-orange {
  color: #e66d3d !important;
}

.btn-grey {
  background-color: #e0e0e0 !important;
}
.btn-success {
  background-color: #71d18c !important;
}
.btn-success i {
  color: #71d18c !important;
}
.btn-danger {
  background-color: #ff988f !important;
}
.btn-danger i {
  color: #8f271e !important;
}
.btn-warning {
  background-color: #ff988f !important;
  border: 0px solid rgba(25, 23, 84, 1);
  color: white !important;
}

.btn-primary {
  background-color: #58a637 !important;
}
.btn-secondary {
  background-color: #58a637 !important;
  border-color: #5bccf6 !important;
}

.btn-limet {
  background-color: rgba(255, 174, 66, 0.7) !important;
  border: 1px solid rgba(84, 57, 23, 1);
  font-size: 30px;
}
.btn-limet i {
  color: rgba(84, 57, 23, 0.3) !important;
}
.btn-purple {
  background-color: #2654c9 !important;
  border: 1px solid #2654c9;
  font-size: 26px;
  color: #fff;
}
.btn-purple:hover {
  color: #fff;
  text-shadow:
  0 0 7px blue,
  0 0 10px blue,
  0 0 21px blue,
  0 0 42px blue,
  0 0 82px blue,
  0 0 92px blue,
  0 0 102px blue,
  0 0 151px blue;
}
.btn-purple i {
  color: rgba(25, 23, 84, 0.3) !important;
}

.required {
  background-color: #e0f6ff!important;
}
.requiredColor {
  color: #8f271e !important;
}

.hover-primary {
  background-color: #b5ebff;
}


i {
  color: white;
}

.table{
  color: #58a637 !important;
  font-weight: 700;
  font-size: 18px;
}

.table tr:hover {
  font-size: 20px !important;
  transform: translateY(-5px);
  box-shadow: 0px 0px 20px 2px rgba(56, 201, 12,0.7);
  animation-duration: 1s !important;
}
.statistky .table tbody > tr:nth-child(1) {
  box-shadow: 0px 0px 20px 2px #FFAE42 !important;
  background-color: #FFAE42;
  color: #4a4a4a;
}

.page-link {
  background-color: #58a637 !important;
  color: white;
}

.col-form-label {
  font-weight: 700;
  color: #58a637 !important;
  font-size: 18px;
}

.gold-a {
  color: #FFAE42;
  font-size: 20px;
  font-weight: 600;
}
.gold-a i {
  color: #FFAE42;
}
.gold-a:hover {
  color: #FFAE42 !important;
  font-size: 22px;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #FFAE42,
    0 0 82px #FFAE42,
    0 0 92px #FFAE42,
    0 0 102px #FFAE42,
    0 0 151px #FFAE42;
}
.red-a {
  color: #c90c0c;
  font-size: 20px;
  font-weight: 600;
}
.red-a i {
  color: #c90c0c;
}
.red-a:hover {
  color: #c90c0c !important;
  font-size: 22px;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #c90c0c,
    0 0 82px #c90c0c,
    0 0 92px #c90c0c,
    0 0 102px #c90c0c,
    0 0 151px #c90c0c;
}

.welcome h1 {
  font-family: "Comic Sans MS";
  font-size: 60px;
  text-shadow: 5px 2px black;
  cursor: none;
}
.welcome h1.red-h1 {
  color: #c90c0c;
}
.welcome h1.gold-h1 {
  color: #FFAE42;
}
.welcome h1.blue-h1 {
  color: #2654c9;
}
.welcome h1.green-h1 {
  color: #35c229;
}
.rot-5-l {
  transform: rotate(-5deg);
}
.rot-5-r {
  transform: rotate(+5deg);
}

.welcome h1.red-h1:hover {
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #c90c0c,
  0 0 82px #c90c0c,
  0 0 92px #c90c0c,
  0 0 102px #c90c0c,
  0 0 151px #c90c0c;
}
.welcome h1.gold-h1:hover {
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #FFAE42,
  0 0 82px #FFAE42,
  0 0 92px #FFAE42,
  0 0 102px #FFAE42,
  0 0 151px #FFAE42;
}
.welcome h1.blue-h1:hover {
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #2654c9,
  0 0 82px #2654c9,
  0 0 92px #2654c9,
  0 0 102px #2654c9,
  0 0 151px #2654c9;
}
.welcome h1.green-h1:hover {
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #35c229,
  0 0 82px #35c229,
  0 0 92px #35c229,
  0 0 102px #35c229,
  0 0 151px #35c229;
}

.row h2 {
  font-family: "Comic Sans MS" !important;
  font-size: 25px;
  text-shadow: 1px 1px black !important;
}

.delete-answer:hover {
  text-shadow:
  0 0 7px #c90c0c,
  0 0 10px #c90c0c,
  0 0 21px #c90c0c,
  0 0 42px #c90c0c,
  0 0 82px #c90c0c,
  0 0 92px #c90c0c,
  0 0 102px #c90c0c,
  0 0 151px #c90c0c;

}