/*
    DEMO STYLE
  background-color: #a7a7a7 !important;

*/

.bg-primary {
  background-color: #0a6c91 !important;
}
/*.bg-primary {
  background-color: #fcde67 !important;
}*/
.bg-secondary {
  background-color: #5bccf6 !important;
}
.bg-yellow {
  background-color: #fcde67 !important;
}
.bg-white {
  background-color: #fff !important;
}
.bg-orange {
  background-color: #e66d3d !important;
}

.color-primary {
  color: #0a6c91 !important;
}
.color-secondary {
  color: #5bccf6 !important;
}
.color-yellow {
  color: #fcde67 !important;
}
.color-white {
  color: white !important;
}
.color-red {
  color: #bf5656 !important;
}
.color-success {
  color: #1b7531 !important;
}
.color-red-dark {
  color: #8f271e !important;
}
.color-grey { 
  color: grey !important;
}
.color-orange {
  color: #e66d3d !important;
}

.btn-grey {
  background-color: #e0e0e0 !important;
}
.btn-success {
  background-color: #71d18c !important;
}
.btn-success i {
  color: #71d18c !important;
}
.btn-danger {
  background-color: #ff988f !important;
}
.btn-danger i {
  color: #8f271e !important;
}
.btn-warning {
  background-color: #fcde67 !important;
}
.btn-primary {
  background-color: #0a6c91 !important;
}
.btn-secondary {
  background-color: #5bccf6 !important;
}
.btn-limet {
  background-color: rgba(84, 57, 23, 0.3) !important;
  border: 1px solid rgba(84, 57, 23, 1);
}
.btn-limet i {
  color: rgba(84, 57, 23, 0.3) !important;
}
.btn-purple {
  background-color: rgba(25, 23, 84, 0.3) !important;
  border: 1px solid rgba(25, 23, 84, 1);
}
.btn-purple i {
  color: rgba(25, 23, 84, 0.3) !important;
}

.required {
  background-color: #e0f6ff!important;
}
.requiredColor {
  color: #8f271e !important;
}

.hover-primary {
  background-color: #b5ebff;
}

i {
  color: #0a6c91;
}
#yourBtn {
  font-family: calibri;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px dashed #BBB;
  text-align: center;
  background-color: #DDD;
  cursor: pointer;
}