/*
    DEMO STYLE
  background-color: #a7a7a7 !important;

*/

#yourBtn{
  background-color: #FFAE42; /* Green */
  border: 1px solid #1b7531;
  color: white;
  padding: 12px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#yourBtn:hover{
  background-color: #FFAE42	; /* Green */
  border: 1px solid black;
  color: black;
  padding: 12px 64px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
}
.page-link{
margin-right: 50px;

}
body{
  background-image: url("background.png"); 
  max-width: 100%;
  height: auto;

  background-repeat: no-repeat;
  color:white !important;
  
}
.responsive{
  max-width: 100%;
  height: auto;

  background-repeat: no-repeat;
}
.card{
  background-color: #fcba03 !important;
  opacity: 0.95;
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
}


.bg-primary {
  background-color: #20b031 !important;
}
/*.bg-primary {
  background-color: #fcde67 !important;
}*/
.bg-secondary {
  background-color: #5bccf6 !important;
}
.bg-yellow {
  background-color: #fcde67 !important;
}
.bg-white {
  background-color: #fff !important;
}
.bg-orange {
  background-color: #e66d3d !important;
}

.color-primary {
  color: #20b031 !important;
}
.color-secondary {
  color: #5bccf6 !important;
}
.color-yellow {
  color: #fcde67 !important;
}
.color-white {
  color: white !important;
}
.color-red {
  color: #bf5656 !important;
}
.color-success {
  color: #1b7531 !important;
}
.color-red-dark {
  color: #8f271e !important;
}
.color-grey { 
  color: grey !important;
}
.color-orange {
  color: #e66d3d !important;
}

.btn-grey {
  background-color: #e0e0e0 !important;
}
.btn-success {
  background-color: #71d18c !important;
}
.btn-success i {
  color: #71d18c !important;
}
.btn-danger {
  background-color: #ff988f !important;
}
.btn-danger i {
  color: #8f271e !important;
}
.btn-warning {
  background-color: #ff988f !important;
  border: 0px solid rgba(25, 23, 84, 1);
  color: white !important;
}

.btn-primary {
  background-color: #20b031 !important;
}
.btn-secondary {
  background-color: #20b031 !important;
  border-color: #5bccf6 !important;
}

.btn-limet {
  background-color: rgba(84, 57, 23, 0.3) !important;
  border: 1px solid rgba(84, 57, 23, 1);
}
.btn-limet i {
  color: rgba(84, 57, 23, 0.3) !important;
}
.btn-purple {
  background-color: rgba(25, 23, 84, 0.3) !important;
  border: 1px solid rgba(25, 23, 84, 1);
}
.btn-purple i {
  color: rgba(25, 23, 84, 0.3) !important;
}

.required {
  background-color: #e0f6ff!important;
}
.requiredColor {
  color: #8f271e !important;
}

.hover-primary {
  background-color: #b5ebff;
}


i {
  color: white;
}

.table{
  color: #20b031 !important;
  font-weight: 700;
  font-size: 18px;
}

.table tr:hover {
  font-size: 22px !important;
  color: #b31b1b !important;
  animation-duration: 1s !important;
}

.page-link {
  background-color: #20b031 !important;
  color: white;
}

.col-form-label {
  font-weight: 700;
  color: #20b031 !important;
  font-size: 18px;
}
